@import './bootstrap.min.css';
.container-fluid {
  padding: 0px !important;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: darkgrey;
}

.slide {
  margin-top: 40px;
}
.slide-co {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  text-align: center;
}
.slide h2 {
  background-color: black;
  color: white;
  padding: 5px 30px;
  font-size: 48px;
}
.slide p {
  font-size: 18px;
}

.carousel-inner img {
  position: relative;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.stock {
  padding-top: 40px;
}
.stock .active {
  color: black !important;
}
.stock-ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.stock-ul a {
  text-decoration: none;
  color: darkgrey;
}
.stock-ul a:hover {
  color: black;
}
.stock-img {
  width: 33.3333%;
  float: left;
}
.stock-img img {
  padding: 14px;
  box-sizing: border-box;
  width: 100%;
}
.stock-img a {
  display: block;
  position: relative;
}
.stock-img a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  margin: 14px;
  transition: all 0.4s ease-in-out;
}
.stock-img a:hover:after {
  opacity: 0.2;
}

.btn-block {
  clear: both;
}

.text-center span {
  font-weight: bold !important;
}

footer {
  box-shadow: 0px -10px 15px #f1f1f0;
}

.a-main {
  background-size: 100% 100%;
  height: 350px;
  margin-top: 80px;
}
.a-main .container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.a-main .container h1 {
  color: white;
  background-color: black;
  width: 30rem;
  padding: 0px 10px;
  box-sizing: border-box;
  text-align: center;
}

.progress {
  background-color: #ebebeb !important;
}
.progress-bar {
  background-color: #a1a1a1 !important;
  margin: 3.5px;
  border-radius: 10px;
}
.progress-upper {
  display: flex;
  justify-content: space-between;
}
.progress-upper img {
  height: 30px;
}
.progress-dot {
  height: 10px;
  width: 10px;
  border-radius: 20px;
  background-color: black;
  margin-left: -10px;
}
.progress-dot-in {
  height: 4px;
  width: 4px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 2.5px;
  margin-left: 3px;
}

.card {
  border: none !important;
}
.card span {
  font-size: 9px;
}
.card h3 {
  margin: 0;
  padding: 0;
}

.upNav .container {
  display: flex;
  justify-content: space-between;
}
.upNav-pn a {
  margin: 0px 10px;
}
.upNav-m a {
  display: flex;
  align-items: center;
}
.upNav-m a img {
  margin: -17% 4px 0px;
}

.detail {
  background-color: #fafafa;
}
.detail img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.detail button {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.detail button img {
  margin-top: 1%;
  width: 15%;
}
.detail ul {
  background-color: #e1e1e1;
  border-radius: 3px;
  width: 300px;
}
.detail .col-3 a {
  display: block;
  position: relative;
}
.detail .col-3 a:after {
  content: "";
  position: absolute;
  background-color: black;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.detail .col-3 a:hover:after {
  opacity: 0.2;
}

.related .col-md-4 a {
  display: block;
  position: relative;
}
.related .col-md-4 a:after {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.related .col-md-4 a:hover:after {
  opacity: 0.3;
}

.story-90 {
  margin-right: 3.2%;
}
.story-95 {
  margin-right: -2%;
}
.story-50 {
  margin-right: 43%;
}
.story-85 {
  margin-right: 8%;
}

.sidebar {
  position: absolute;
  width: 33.3333333%;
  right: 0;
}

.blog {
  background-color: #fafafa;
}
.blog .container {
  position: relative;
}
.blog .hover {
  width: 100%;
  height: 350px;
  background: url(./img/img11.png) center center no-repeat;
  background-size: 100% 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  position: relative;
}
.blog .hover-bg {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  opacity: 0;
  transition: all 0.5s;
}
.blog .hover-bg:hover {
  opacity: 1;
}
.blog .flex-wrap button {
  margin: 0.4rem 0.13rem;
}
.blog .flex-wrap img {
  margin: 0.2rem;
}
.blog-col {
  width: 33.3333%;
  float: left;
  padding: 0px 10px;
}

.card-header {
  padding: 0 !important;
}

.single {
  background-color: #fafafa;
}
.single p {
  color: #7f7f7f;
}

.leave {
  background-color: #fafafa;
}

.m-m {
  margin-top: -1.2rem;
}

@media screen and (max-device-width: 991px) {
  .detail ul li a {
    padding: 5px 0 0 !important;
  }
  .slide-co {
    width: 50%;
    left: 25.5%;
  }
  .team-p80 {
    width: 80% !important;
    font-size: 12px;
  }
  .blog-body {
    padding: 5px !important;
  }
  .blog-col {
    width: 50%;
    clear: left;
  }
  .sidebar {
    width: 50%;
  }
  .values .card {
    align-items: center;
    text-align: center;
  }
  .values .card-header img {
    width: 100% !important;
  }
  .values p {
    width: 100% !important;
  }
  .map {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .related img {
    width: 100%;
  }
  .related p {
    width: 100% !important;
  }
}
@media screen and (max-device-width: 767px) {
  .blog-img {
    width: 100%;
  }
  .hover {
    height: 450px !important;
    margin: 40px 0px;
  }
  .sidebar .card-body button {
    margin: 5px 10px !important;
  }
  .slide-co h2 {
    font-size: 32px;
  }
  .slide-co p {
    font-size: 18px;
  }
  .stock-img {
    width: 50%;
  }
  .stock-ul {
    flex-wrap: wrap;
  }
  .stock-li {
    margin: 5px 10px;
  }
  .a-main h1 {
    width: 280px !important;
    font-size: 26px;
  }
  .blog-col {
    width: 100%;
  }
  .sidebar {
    position: inherit;
    width: 100%;
  }
  .single .px-5, .px-2, .mx-4 {
    padding: 0 !important;
    margin: 0 !important;
  }
  .leave .px-5 {
    padding: 0 !important;
  }
  .story-90 {
    margin-right: 1%;
  }
  .story-95 {
    margin-right: -4%;
  }
  .story-50 {
    margin-right: 41.5%;
  }
  .story-85 {
    margin-right: 6%;
  }
}
@media screen and (max-device-width: 320px) {
  .stock-img {
    width: 100%;
  }
  .slide-co {
    width: 100%;
    left: 0;
  }
  .slide-co h2 {
    font-size: 28px;
  }
  .slide-co p {
    font-size: 12px;
  }
  .map {
    height: 300px;
  }
  .leave .d-flex {
    display: block !important;
  }
  .leave input {
    margin-top: 10px;
  }
}/*# sourceMappingURL=style.css.map */