@font-face {
    font-family: 'bold';
    src: url(./fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'regular';
    src: url(./fonts/Poppins-Medium.ttf);
}
body{
    font-size: 16px;
}
p{
    font-family: 'regular';
    color: #616368;
    font-size: 1vw;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'bold';
}
h1{
    font-size: 3vw;
}
h2{
    font-size: 2.6vw;
}
h3{
    font-size: 2.2vw;
}
.space{
    width: 50%;
}
button{
    background-color: #2500f9;
    font-family: 'bold';
    color: white;
    padding: 0.7vw 1.5vw;
    border: none;
    border-radius: 20px;
    font-size: 0.8vw;
}
a{
    font-size: 1vw;
}


/* header start */
header ul li a{
    font-family: 'regular';
    text-decoration: none;
    font-size: 1vw;
}
/* header end */

/* Main start */
.main{
    background: url(./img/back-1.png) no-repeat;
    background-size: cover;
    width: 100%;
}
.main .mt{
    margin-top: -10%;
}
.main-img img{
    width: 80%;
}
.main a{
    margin-left: 28px;
    font-size: 1vw;
    color: #2500f9;
    font-family: 'regular';
    text-decoration: none;
}
.main-text-success{
    width: 55%;
    box-sizing: border-box;
    background-color: #e2eaed;
    border-radius: 20px;
    display: flex;
    height: 35px;
}
.main-text-success img{
    background-color: #feaa25;
    border-radius: 100px;
    padding: 10px;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
}
.main-text-success p{
    padding: 5px;
}
/* Main end */

/* trusted start */
.trusted ul li img{
    width: 80%;
}
/* trusted end */

/* featured start */
.featured-img img{
    width: 90%;
}
.featured-text-logo img{
    width: 4vw;
    height: 4vw;
}
/* featured end */

/* jackpots start */
.jackpots-head-space{
    height: 10vw;
    background-color: #616368;
    width: 1px;
}
/* jackpots end */


/* choose start */
.choose img{
    width: 90px; 
    height: 90px;
}
.choose h4{
    text-align: center;
}
/* choose end */

/* build start */
.build{
    background: url(./img/Phone.png) no-repeat center right;
}
.build .button{
    padding: 20px 60px;
    border-radius: 40px;
}
.build-item{
    width: 50%;
}
.build img{
    width: 90px;
    height: 90px;
}
/* build end */

/* payment start */
.payment-switch{
    border: #e2eaed solid 1px;
    border-radius: 40px;
    padding: 2px;
    width: 250px;
    display: flex;
    margin: 30px 0px;
}
.payment .button{
    width: 50%;
}
.button-p{
    background-color: white;
    color: #616368;
    width: 50%;
}
.payment-p{
    display: inline-block;
}
.payment h1{
    text-align: center;
    width: 50%;
    font-size: 36px;
    display: inline-block;
}
.payment h2{
    font-size: 20px;
    padding: 30px 10px;
}
.payment ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px #c6c8cd;
    border-radius: 10px;
    width: 300px;
    margin: 0px 20px;
}
.payment ul li a{
    font-family: 'regular';
    text-decoration: none;
    color: #2500f9;
    padding-bottom: 20px;
}
.payment ul button{
    margin: 30px 0px;
}
.payment-cost{
    background: linear-gradient(0deg, #f4f7f9, white);
    width: 100%;
}
.payment-cost-header{
    display: flex;
    align-items: flex-end;
}
.payment-cost-header h1{
    line-height: 0.8;
}
.payment-info{
    padding-top: 30px;
}
.payment-info p{
    padding: 10px 0px;
}
/* payment-end */

/* client start */
.client{
    padding: 100px 0;
    background: url(./img/people-images.png) no-repeat left center;
    background-position: 13% 50%;
}
.client-prof{
    display: flex;
    align-content: center;
}
.client-prof p{
    padding-top: 10px;
}
.client-prof img{
    height: 90px;
}
.client-prof-pointer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}
.client-prof-pointer img{
    height: 60px;
}
.client-prof-info{
    flex-basis: 60%;
    padding: 20px;
}
.client-prof h3{
    font-size: 26px;
}
/* client end */

/* question start */
.question {
    padding-bottom: 100px;
}
.question a{
    color: black;
    text-decoration: none;
}
.question h1{
    font-size: 40px;
}
.question h2{
    font-size: 20px;
}
.question p{
    width: 60%;
    text-align: center;
}
.question .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-blog p{
    width: 100%;
    text-align: left;
}
.question-blog-div{
    padding: 30px;
    margin: 7px 7%;
    background-color: #f5f7fa;
}
/* question end */

/* download start */
.download{
    background: url(./img/download-back.png) no-repeat left center;
    background-position: 100% 148%;
}
.download .wrapper{
    height: 600px;
    display: flex;
}
.download h1{
    font-size: 3vw;
}
.download p{
    padding: 30px 0px;
}
.download-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.download-info-img{
    padding: 0px 10px;
}
.download-info-img img{
    padding-right: 40px;
}
.download-back{
    width: 50%;
}
/* download end */

/* footer start */
footer{
    background-color: #09142e;
    padding: 120px 0px;
}
footer .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    color: #3d465a;
    font-size: 10px;
}
footer ul{
    display: flex;
    padding: 40px 0px;
}
footer ul li a{
    text-decoration: none;
    color: #616368;
    font-family: 'regular';
    padding: 0px 10px;
}
/* footer end */

@media only screen and (max-width: 1280px) {
    .build{
        background: none;
    }
    .build-text p{
        text-align: center;
    }
    .build-text h2{
        text-align: center;
    }
    .build-item{
        width: 100%;
    }
    .build button{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .client{
        background: none;
    }
    .none{
        display: none;
    }
    .download .wrapper{
        margin-top: -10%;
    }
}
@media only screen and (max-width: 1500px) {
    .client{
        background-position: -5% 50%;
    }
}
@media only screen and (max-width: 991px) {
    .download{
        background: none;
    }
    .download-back{
        display: none;
    }
    .download .wrapper{
        width: 100%;
        margin-bottom: -10%;
        margin-top: -20%;
        justify-content: center;
    }
    .download-info-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-collapse ul{
        align-items: center;
        flex-direction: column;
    }
}
@media only screen and (max-width: 767px) {
    .main{
        height: 400px;
    }
    .main-img{
        display: none;
    }
    .main .justify-content-center{
        align-items: center;
    }
    .featured-img {
        display: none !important;
    }
}